<!-- /templates/index.html -->

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/style.css">
    <title>Translate Searcher</title>
</head>
<body>
<script>
</script>

<header>
    Translate Searcher
</header>
<article>
    <div class="movieDetail" >
    </div>
    <div class="chat-window" >
        <form id="target" name="form">
            <input name="message" class="text-input" type="text" id="input_message" autofocus placeholder="한국어 문장을 한 문장씩 입력하세요" />
            <input type="submit" hidden>
        </form>
        <div class="conversation-view">

        </div>
        <div class="message-box">
        </div>
    </div>
</article>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="../static/custom.js"></script>
</body>
</html>