<!-- /templates/index.html -->

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/index.css">
    <link href="{{ url_for('static', filename='searcher.ico') }}" rel="shortcut icon" type="image/x-icon">
    <title>Translate Searcher</title>
</head>
<body>
<header>
    <span id="connect">
        CONNECT ME AT <a href="mailto:yja2397@gmail.com">yja2397@gmail.com</a>
    </span>
    <span id="title">
        Translate Searcher
    </span>
    <span id="profile">
        {% block body %}
        {% if session['logged_in'] %}
        <ul class="menu">
            <a href="#!" onclick="logout()" title="로그아웃"><li><i class="fa fa-user-o" aria-hidden="true"></i></li></a>
            <a href="para.html" title="작성글 보기"><li><i class="fa fa-file-text-o" aria-hidden="true"></i></li></a>
            <a href="sen.html" title="찜한 문장 보기"><li><i class="fa fa-file-word-o" aria-hidden="true"></i></li></a>
        </ul>
        {% else %}
        <ul class="menu">
            <a href="login.html" title="로그인"><li><i class="fa fa-user-o" aria-hidden="true"></i></li></a>
        </ul>
        {% endif %}
        {% endblock %}
    </span>
</header>
<article>
    <div class="chat-window" >
        <form id="target" name="form">
            <input name="message" class="text-input" type="text" id="input_message" autofocus placeholder="한국어/영어 문장을 한 문장씩 입력하세요" />
            <button class="search" title="검색"><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
        <div class="conversation-view">
        </div>
        <div class="message-box">
        </div>
    </div>
</article>
<nav>
    <div class="paragraph">
        <div id="write" class="edit">
            <span>
                검색한 결과 오른쪽의 &nbsp;<img class="insert" src="{{ url_for('static', filename='insert.png') }}" />를 눌러보세요.
            </span>
            
            <!-- <textarea id="writeInput" cols="40" rows="8" >Hello World</textarea> -->
            
        </div>
        <div id="view" class="edit">
            <span>
                위 문단이 번역된 결과가 여기에 표시됩니다.
            </span>
            
            <!-- <textarea id="viewInput" cols="40" rows="8" >Hello World</textarea> -->
        </div>
        <div class="para">
            <button class="save" onclick="save()" title="저장">SAVE</button>
            <button class="copy" onclick="copy()" title="복사">COPY</button>
        </div>
    </div>
</nav>
<footer>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="https://js.pusher.com/4.1/pusher.min.js"></script>
<script src="../static/custom.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</body>
</html>