<!-- /templates/index.html -->

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/login.css">
    <link href="{{ url_for('static', filename='searcher.ico') }}" rel="shortcut icon" type="image/x-icon">
    <title>Translate Searcher</title>
</head>
<body>
<article>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
            <h2 class="inactive underlineHover"><a href="login.html" title="로그인"> Sign In </a></h2>
            <h2 class="active"> Sign Up </h2>
        
            <!-- Icon -->
            <div class="fadeIn first">
                <img src="{{ url_for('static', filename='insert.png') }}" id="icon" alt="User Icon" />
            </div>
        
            <!-- Join Form -->
            <form id="join" name="join" method="POST">
                <input type="text" id="userid" class="fadeIn second" name="userid" placeholder="ID">
                <input type="password" id="pswd" class="fadeIn third" name="pswd" placeholder="password">
                <input type="submit" class="fadeIn fourth" value="Join">
            </form>
        
            <!-- Remind Passowrd -->
            <div id="formFooter">
                <a class="underlineHover" href="index.html" title="홈화면으로 돌아가기">Go to mainpage</a>
            </div>
    
        </div>
    </div>
</article>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="../static/custom.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</body>
</html>