<!-- /templates/para.html -->

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/para.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="../static/jquery.tablesorter.min.js"></script>
	<link rel="stylesheet" href="../static/blue_style.css" type="text/css">
	<link rel="stylesheet" href="../static/green_style.css" type="text/css">
    <link href="{{ url_for('static', filename='searcher.ico') }}" rel="shortcut icon" type="image/x-icon">
    <title>Translate Searcher</title>
</head>
<script type="text/javascript">
	$(document).ready(function(){ 
        $("#choice").tablesorter();
    });
</script>
<body>
<header>
    <span id="title">
        Translate Searcher
    </span>
    <span id="profile">
        <ul class="menu">
            <a href="#!" onclick="logout()" title="로그아웃"><li><i class="fa fa-user-o" aria-hidden="true"></i></li></a>
            <a href="sen.html" title="내 찜한 문장 보기"><li><i class="fa fa-file-word-o" aria-hidden="true"></i></li></a>
            <a href="index.html" title="홈화면으로 돌아가기"><li><i class="fa fa-language" aria-hidden="true"></i></li></a>
        </ul>
    </span>
</header>
<article>
    <div class="board">
        <div class="para">
            <button class="modify" style="margin-right:20px;" onclick="deletePara()">삭제</a>
        </div>
        <div style="margin: auto; width: 80%; height: 480px; overflow: auto">
            <table id="choice" class="tablesorter">
                <thead>
                <tr>
                    <td class="checkbox" style="border:1px solid black; background-color: black;"><input id="allCheck" type="checkbox" name="chk" onclick="gogogo(this)" /></td>
                    <th class="title subj">제목</th>
                    <th class="title time">작성일자</th>
                </tr>
                </thead>
                <tbody>
                    {% if not rows %}
                            <tr>
                                <td colspan="2">저장한 글이 없습니다.</td>
                            </tr>
                    {% else %}
                        {% for row in rows %}
                                <tr>
                                    <td class="checkbox" style="border:1px solid black"><input type="checkbox" name="chk" value="{{row['paratime']}}" /></td>
                                    <td class="subj" onclick="load(this)">{{row['paratitle']}}</td>
                                    <td class="time order{{loop.index}}">{{row['paratime']}}</td>
                                </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</article>
<nav>
    <div class="paragraph">
        <div id="write" class="edit">
            <span>
                작성한 글의 제목을 클릭하십시오.
            </span>
        </div>
        <div id="view" class="edit">
            <span>
                위 문단이 번역된 결과가 여기에 표시됩니다.
            </span>
        </div>
        <div class="para">
            <button class="copy" onclick="copy()">COPY</button>
        </div>
    </div>
</nav>
<footer>

</footer>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="../static/custom.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</body>
</html>