<!-- /templates/index.html -->

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/sen.css">
    <title>Translate Searcher</title>
</head>
<body>
<header>
    <span id="title">
        Translate Searcher
    </span>
    <span id="profile">
        <ul class="menu">
            <li>
                <i class="fa fa-user-o" aria-hidden="true"></i>
                <ul>
                    <a href="sen.html"><li><i class="fa fa-file-text-o" aria-hidden="true"></i></li></a>
                    <a href="index.html"><li><i class="fa fa-language" aria-hidden="true"></i></li></a>
                </ul>
            </li>
        </ul>
    </span>
</header>
<article>
    <div class="board">
        <div class="para">
            <button class="modify" style="margin-right:48px;">삭제</a>
        </div>
        <div class="english">
            <div>Essay</div>
            <div>Paper presentation</div>
            <div>To Eric</div>
            <div>Wrote at 2019.09.12 20:22</div>
        </div>
        <div class="translate">
            <div>Essay</div>
            <div>논문 발표</div>
            <div>Eric 교수님께</div>
            <div>2019.09.12 20:22 작성</div>
        </div>
    </div>
</article>
<footer>

</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="../static/custom.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</body>
</html>