<!-- /templates/index.html -->

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/sen.css">
    <link href="{{ url_for('static', filename='searcher.ico') }}" rel="shortcut icon" type="image/x-icon">
    <title>Translate Searcher</title>
</head>
<body>
<header>
    <span id="title">
        Translate Searcher
    </span>
    <span id="profile">
        <ul class="menu">
            <a href="#!" onclick="logout()"><li><i class="fa fa-user-o" aria-hidden="true"></i></li></a>
            <a href="para.html"><li><i class="fa fa-file-text-o" aria-hidden="true"></i></li></a>
            <a href="index.html"><li><i class="fa fa-language" aria-hidden="true"></i></li></a>
        </ul>
    </span>
</header>
<article>
    <div class="board">
        <div class="para">
            <button class="modify" style="margin-right:48px;">삭제</a>
        </div>
        <table id="sentence">
            <tr class="searched">
                <td class="title">검색한 문장</td>
                <td class="title">번역된 문장</td>
            </tr>
            <!-- <tr class="searched">
                <td class="english">Wrote at 2019.09.12 20:22</td>
                <td class="translate">2019.09.12 20:22 작성</td>
            </tr>
            <tr class="searched">
                <td class="english">Wrote at 2019.09.12 20:22</td>
                <td class="translate">2019.09.12 20:22 작성</td>
            </tr> -->
        </table>
    </div>
</article>
<footer>

</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="../static/custom.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</body>
</html>