<!-- /templates/sen.html -->

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/sen.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="../static/jquery.tablesorter.min.js"></script>
	<link rel="stylesheet" href="../static/blue_style.css" type="text/css">
	<link rel="stylesheet" href="../static/green_style.css" type="text/css">
    <link href="{{ url_for('static', filename='searcher.ico') }}" rel="shortcut icon" type="image/x-icon">
    <title>Translate Searcher</title>
</head>
<script type="text/javascript">
	$(document).ready(function(){ 
		$("#sentence").tablesorter();
	});
</script>
<body>
<header>
    <span id="title">
        Translate Searcher
    </span>
    <span id="profile">
        <ul class="menu">
            <a href="#!" onclick="logout()" title="로그아웃"><li><i class="fa fa-user-o" aria-hidden="true"></i></li></a>
            <a href="para.html" title="작성글 보기"><li><i class="fa fa-file-text-o" aria-hidden="true"></i></li></a>
            <a href="index.html" title="홈화면으로 돌아가기"><li><i class="fa fa-language" aria-hidden="true"></i></li></a>
        </ul>
    </span>
</header>
<article>
    <div class="board">
        <div class="para">
            <button class="modify" style="margin-right:48px;" onclick="deleteSen()">삭제</a>
        </div>
        <form>  
            <div style="margin: auto; width: 80%; height: 480px; overflow: auto">
                <table id="sentence" class="tablesorter">
                    <thead>
                        <tr class="searched">
                            <td class="checkbox" style="border:1px solid black; background-color: black;"><input id="allCheck" type="checkbox" onclick="gogogo(this)" /></td>
                            <th class="title sen">검색한 문장</th>
                            <th class="title cnt">검색횟수</th>
                        </tr>
                    </thead>
                        <tbody>
                            {% if not rows %}
                                <tr class="searched">
                                    <td colspan="3">검색한 문장이 없습니다.</td>
                                </tr>
                            {% else %}
                            {% for row in rows %}
                                <tr class="searched">
                                    <td class="checkbox" style="border:1px solid black"><input type="checkbox" name="chk" value="{{row['sentence']}}" /></td>
                                    <td class="sen order" onclick="speakPara()">{{row['sentence']}}</td>
                                    <td class="cnt">{{row['searchCnt']}}</td>
                                </tr>
                            {% endfor %}
                            {% endif %}
                        </tbody>
                </table>
            </div>
        </form> 
    </div>
</article>
<footer>

</footer>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="../static/custom.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</body>
</html>